.card{
    background: $card-black-background;
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: $box-shadow;


    label{
      color: rgba($white, 0.6);
    }

    .card-title {
      margin-bottom: .75rem;
    }

    .card-body{
      padding: 15px;

      &.table-full-width{
        padding-left: 0;
        padding-right: 0;
      }

      .card-title{
        color: $white;
        text-transform: inherit;
        font-weight: $font-weight-light;
        margin-bottom: .75rem;
      }

      .card-description, .card-category{
        color: rgba($white, 0.6);
      }

    }

    .card-header{
      &:not([data-background-color]){
        background-color: transparent;
      }
      padding: 15px 15px 0;
      border: 0;
      color: rgba($white,0.8);

      .card-title{
          color: $white;
          font-weight: 100;
      }

      .card-category{
        color: $dark-gray;
        margin-bottom: 5px;
        font-weight: 300;
      }
    }

    .map{
        border-radius: $border-radius-sm;

        &.map-big{
          height: 420px;
        }
    }

    &.card-white{
      background: $white;

      .card-title{
        color: $black;
      }

      //style for inputs

      @include form-control-placeholder(rgba($black,0.4), 1);
        .has-danger{
          .form-control, .input-group-prepend .input-group-text{
            border-color: $danger-states;
          }
        }

        .input-group-prepend .input-group-text{
          border-color: rgba($black-states,0.2);
          color: $black-states;
        }

        .form-control{
          color: $black;
          border-color: rgba($black-states,0.2);
          &:focus{
            border-color: $primary;
          }
        }
        label:not(.btn):not(.error){
          color: $default;
        }

      .form-group.no-border,
      .input-group.no-border {
          .form-control,
          .form-control + .input-group-prepend .input-group-text,
          .form-control + .input-group-append .input-group-text,
          .input-group-prepend .input-group-text,
          .input-group-append .input-group-text{
            background-color: $opacity-gray-3;
              &:focus,
              &:active,
              &:active{
                background-color: $opacity-gray-5;
              }
          }

          .form-control {
              &:focus {
                  & + .input-group-prepend .input-group-text,
                  & + .input-group-append .input-group-text{
                    background-color: $transparent-bg;
                  }
              }
          }


      }

      .input-group[disabled]{
          .input-group-prepend .input-group-text,
          .input-group-append .input-group-text{
              background-color: $black;
          }
      }

      .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
        background: $light-gray;
        border-color: rgba($black-states,0.3);
      }

      .input-group-focus{
          .input-group-prepend .input-group-text,
          .input-group-append .input-group-text,
          .form-control{
            background-color: $white;
            border-color: $primary;
          }

          &.no-border{
              .input-group-prepend .input-group-text,
              .input-group-append .input-group-text{

                  background-color: $opacity-gray-5;
              }
          }
      }
      .input-group-prepend .input-group-text {
          border-right: none;
      }

      .input-group-append .input-group-text {
          border-left: none;
      }

      .has-danger .form-control:focus, .has-success.input-group-focus .input-group-append .input-group-text, .has-success.input-group-focus .input-group-prepend .input-group-text {
        border-color: $danger-states;
      }

      .has-success .form-control:focus, .has-success.input-group-focus .input-group-append .input-group-text, .has-success.input-group-focus .input-group-prepend .input-group-text {
        border-color: darken($success, 10%);
      }
    }


    &.card-plain {
      background: transparent;
      box-shadow: none;
    }

    .image{
        overflow: hidden;
        height: 200px;
        position: relative;
    }

    .avatar{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    label{
        font-size: $font-size-sm;
        margin-bottom: 5px;

    }

    .card-footer{
        background-color: transparent;
        border: 0;
        padding: 15px;


        .stats{
            i{
                margin-right: 5px;
                position: relative;

            }
        }

        h6{
          margin-bottom: 0;
          padding: 7px 0;
        }
    }
}

.card-body{
  padding: $card-spacer-y;
}



@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

$color: rgba(22, 195, 255,0.5);
$border: rgba(0,0,0,0.2);
$background: #fafafa;

$darkcolor: rgba(175,227,100, 0.6);
$darkborder: rgba(255,255,255, 0.3);
$darkbackground: #333;

.sexytabs > ul {
  
  text-align: center; font-weight: 500;
  margin: 50px 0 0; padding: 0; position: relative;
  border-bottom: 1px solid $border; z-index: 1;
  
  > li {
    
    display: inline-block; background: $background;
    padding: 0.6em 0; position: relative; width: 33%; margin: 0 0 0 -4px;
    
    &:before,
    &:after { opacity: 0; transition: 0.3s ease; }
    
    &.ui-tabs-active:before, &.ui-tabs-active:after,
    &.ui-state-hover:before, &.ui-state-hover:after,
    &.ui-state-focus:before, &.ui-state-focus:after{ opacity: 1; }
    
    // this is the shadow under the text/mask
    &:before,
    &.ui-state-active.ui-state-hover:before,
    &.ui-state-active.ui-state-focus:before{
      content: "";
      position: absolute;
      z-index: -1;
      box-shadow: 0 2px 3px $color;
      top: 50%; bottom: 0px; left: 5px; right: 5px;
      border-radius: 100px / 10px; 
    }
    
    // this is the "diamond" mask that creates the
    // nice indent effect.
    &:after,
    &.ui-state-active.ui-state-hover:after,
    &.ui-state-active.ui-state-focus:after{
      content: ""; background: $background;
      position: absolute;
      width: 12px; height: 12px;
      left: 50%; bottom: -6px; margin-left: -6px;
      transform: rotate(45deg);
      box-shadow: 
        inset 3px 3px 3px $color, 
        inset 1px 1px 1px opacify($border,0.1);
      
    }
    &.ui-state-hover:before,
    &.ui-state-focus:before{
      box-shadow: 0 2px 3px $border;
    }
    &.ui-state-hover:after,
    &.ui-state-focus:after{
      box-shadow: 
        inset 3px 3px 3px $border, 
        inset 1px 1px 1px opacify($border,0.1);
    }
    &.ui-state-focus a {
      text-decoration: underline;  
    }
    
    &:focus { outline: none; }
    
    a {
      
      color: #444; text-decoration: none;
      
      &:focus { outline: none; }
      span { position: relative; top: -0.5em; }
      
    }
  }
}


.sexytabs.dark > ul {
  
  border-bottom-color: $darkborder;
  
  > li {
    
    background: $darkbackground;
    
    
    // this is the shadow under the text/mask
    &:before,
    &.ui-state-active.ui-state-hover:before,
    &.ui-state-active.ui-state-focus:before {
      box-shadow: 0 2px 3px $darkborder;
    }
    
    // this is the "diamond" mask that creates the
    // nice indent effect.
    &:after,
    &.ui-state-active.ui-state-hover:after,
    &.ui-state-active.ui-state-focus:after{
      background: $darkbackground;
      box-shadow: 
        inset 3px 3px 3px $darkborder, 
        inset 1px 1px 1px opacify($darkborder,0.2);
    }
    &.ui-state-hover:before,
    &.ui-state-focus:before{
      box-shadow: none;
    }
    &.ui-state-hover:after,
    &.ui-state-focus:after{
      box-shadow: inset 1px 1px 0px opacify($darkborder,0.1);
    }
    
    a {
      color: white;
    }
  }
}




// misc setup CSS.

img { 
  width: 60px; float: left; 
  margin: 0 1em 1em 0; border-radius: 3px; }

body{ 
  font-size: 1em; background: $background; 
  font-family: Lato; font-weight: 300;
}

h1 { text-align: center; font-size: 20px;  }

.sexytabs { width: 90%; min-width: 360px; margin: auto; }
.contents { padding: 20px 50px; min-height: 200px; }

.darkpage { 
  
  background: #333; 
  color: white;
  
}

.darkpage,
.lightpage { padding: 50px 0; }


@media screen and (min-width: 1000px) {
  .darkpage,
  .lightpage { width: 50%; float: left; padding: 0; }
}